# ignore node modules
node_modules/

# ignore css file
web/css/
web/_common/css/

# ignore the templates.js
web/js/templates.js
web/_common/js/templates.js

# ignore build file
public/_common/build.js
public/_common/build.css

# ignore app file
public/app.js
public/app.css