# ignore node modules
node_modules/

# ignore css file
webapp/css/
webapp/_common/css/

# ignore the templates.js
webapp/js/templates.js
webapp/_common/js/templates.js

# ignore build file
public/_common/build.js
public/_common/build.css

# ignore app file
public/app.js
public/app.css