<script id="AccountView" type="text/html">
	<div class="AccountView">
		<div class="user-info">
			<div class="img-wrap">
				<img src="src/assets/image/user.jpg">
				<div class="profile tip" data-tip="换一张照片"></div>
			</div>
			<div class="user-name">Hyacinty</div>
		</div>
		<ul class="user-state">
			<li><span class="mdi mdi-information"></span>使用指南</li>
			<li><span class="mdi mdi-exit"></span>退出登录</li>
		</ul>
	</div>
</script>