<script id="AsideView" type="text/html">
	<div class="AsideView">
		<div class="logo"><img src="src/assets/image/icon.jpg"></div>
		<ul class="operate">
			<li class="tip add-note" data-tip="新建笔记"><span class="mdi mdi-plus"></span></li>
			<li class="tip search" data-tip="搜索"><span class="mdi mdi-magnify"></span></li>
		</ul>
		<ul class="content">
			<li class="tip shortcut" data-tip="快捷方式"><span class="mdi mdi-star"></span></li>
			<li class="tip note" data-tip="笔记"><span class="mdi mdi-file-document"></span></li>
			<li class="tip notebook" data-tip="笔记本"><span class="mdi mdi-library-books"></span></li>
		</ul>
		<div class="account">
			<div class="account-wrap tip" data-tip="账户">
				<img src="src/assets/image/user.jpg" >
			</div>
		</div>
	</div>
</script>