<script id="MainView" type="text/html">
	<div class="MainView">
		<header>
			<div class="nav">
				<a class="logo" href="#"><img src="src/assets/image/icon.jpg"></a>
				<ul class="title">
					<li class="item-main"><a href="#">首页</a></li>
					<li class="item-about"><a href="#">关于</a></li>
				</ul>
				<div class="login">
					<span><i class="mdi mdi-account"></i>登录<span>
				</div>
			</div>
		</header>

		<section class="main">
			<div class="description">
				<h1>The Best <b>Note Platform</b> with Markdown</h1>
			</div>
			<div class="pen">
				<img src="src/assets/image/pen.png">
			</div>
			<div class="introduce">
				<a href="#" data-tip="写笔记，wenote是个不错的选择?" class="tip">
					<i class="mdi mdi-heart-outline"></i>
					<span>为何wenote</span>
				</a>
			</div>
		</section>

		<section class="about hidden">
			<ul>
				<li>追求极简是我们的宗旨。wenote让一切都变得那么简单。</li>
				<li>在前端我们用brite.js来管理组件，handelbars.js作为模板引擎，组件化是web开发的趋势。SPA页面让用户体验更佳。</li>
				<li>后台使用高性能的node.js作为支撑，数据库使用mangodb。wenote让一切变得那么快速。</li>
				<li>使用markdown记录身边点滴，wenote让一切都变得那么轻松。</li>
				<li>那么让我们开始愉快写作之旅吧~</li>
			</ul>
		</section>
		
		<footer>
			Simple is Everything.
			<span>PennyRen</span>
			<span>©2016 All Rights Reserved.</span>
		</footer>
	</div>
</script>