<script id="NoteList" type="text/html">
	<div class="NoteList">
		<header>
			<div class="search-ctx hidden">
				<input type="text" placeholder="搜索笔记"></input>
				<span class="mdi mdi-close-circle delete hidden"></span>
			</div>
			<h2 class="title">笔记</h2>
			<div class="count"><span>6</span>条笔记</div>
		</header>
		<section>
			<ul class="list-wrap">
				<li class="item checked">
					<div class="title clearfix">
						<h3 class="textfix">javascript基本概念</h3>
						<div class="setting">
							<div class="tip" data-tip="删除笔记"><span class="mdi mdi-delete"></span></div>
							<div class="tip" data-tip="添加快捷方式"><span class="mdi mdi-star"></span></div>
							
						</div>
					</div>
					<div class="time">15/9/17</div>
					<p class="overview multiline">ECMA-262通过叫ECMAScript的“伪语言”来描述了JavaScript的所有基本概念及最基本的工作原理。描述的内容涉及这门语言的语法</p>
				</li>
				<li class="item">
					<div class="title clearfix">
						<h3 class="textfix">javascript基本概念</h3>
						<div class="setting">
							<div class="tip" data-tip="删除笔记"><span class="mdi mdi-delete"></span></div>
							<div class="tip" data-tip="添加快捷方式"><span class="mdi mdi-star"></span></div>
							
						</div>
					</div>
					<div class="time">15/9/17</div>
					<p class="overview multiline">ECMA-262通过叫ECMAScript的“伪语言”来描述了JavaScript的所有基本概念及最基本的工作原理。描述的内容涉及这门语言的语法</p>
				</li>
				<li class="item">
					<div class="title clearfix">
						<h3 class="textfix">javascript基本概念</h3>
						<div class="setting">
							<div class="tip" data-tip="删除笔记"><span class="mdi mdi-delete"></span></div>
							<div class="tip" data-tip="添加快捷方式"><span class="mdi mdi-star"></span></div>
							
						</div>
					</div>
					<div class="time">15/9/17</div>
					<p class="overview">ECMA-262通过叫ECMAScript的“伪语言”来描述了JavaScript的所有基本概念及最基本的工作原理。描述的内容涉及这门语言的语法</p>
				</li>
				<li class="item">
					<div class="title clearfix">
						<h3 class="textfix">javascript基本概念</h3>
						<div class="setting">
							<div class="tip" data-tip="删除笔记"><span class="mdi mdi-delete"></span></div>
							<div class="tip" data-tip="添加快捷方式"><span class="mdi mdi-star"></span></div>
							
						</div>
					</div>
					<div class="time">15/9/17</div>
					<p class="overview">ECMA-262通过叫ECMAScript的“伪语言”来描述了JavaScript的所有基本概念及最基本的工作原理。描述的内容涉及这门语言的语法</p>
				</li>
				<li class="item">
					<div class="title clearfix">
						<h3 class="textfix">javascript基本概念</h3>
						<div class="setting">
							<div class="tip" data-tip="删除笔记"><span class="mdi mdi-delete"></span></div>
							<div class="tip" data-tip="添加快捷方式"><span class="mdi mdi-star"></span></div>
							
						</div>
					</div>
					<div class="time">15/9/17</div>
					<p class="overview">ECMA-262通过叫ECMAScript的“伪语言”来描述了JavaScript的所有基本概念及最基本的工作原理。描述的内容涉及这门语言的语法</p>
				</li>
			</ul>
		</section>
	</div>
</script>
<script id="NoteList-item" type="text/html">
	{{#each note}}
	<li class="item">
		<div class="title clearfix">
			<h3 class="textfix">{{title}}</h3>
			<div class="setting">
				<div class="tip" data-tip="删除笔记"><span class="mdi mdi-delete"></span></div>
				<div class="tip" data-tip="添加快捷方式"><span class="mdi mdi-star"></span></div>
				
			</div>
		</div>
		<div class="time">{{time}}</div>
		<p class="overview">{{overview}}</p>
	</li>
	{{/each}}
</script>