<script id="NotebookView" type="text/html">
	<div class="NotebookView">
		<aside class="slide">
			<div class="header">
				<h1 class="title">笔记本<div class="plus tip" data-tip="创建笔记本"><span class="mdi mdi-library-plus"></span></div></h1>
				<div class="form-group">
					<input type="text"></input>
					<div class="search"><span class="mdi mdi-magnify"></span>查找笔记本</div>
				</div>
			</div>
			
			<ul class="notebook-wrap">
				<li class="item">
					<div class="book">
						<div class="book-name">Android</div>
						<div class="count"><span>3</span>条笔记</div>
					</div>
					<div class="icon-wrap tip" data-tip="删除笔记本"><span class="mdi mdi-delete"></span></div>
					<div class="icon-wrap tip" data-tip="添加快捷方式"><span class="mdi mdi-star"></span></div>

				</li>
				<li class="item">
					<div class="book">
						<div class="book-name">Android</div>
						<div class="count"><span>3</span>条笔记</div>
					</div>
					<div class="icon-wrap tip" data-tip="删除笔记本"><span class="mdi mdi-delete"></span></div>
					<div class="icon-wrap tip" data-tip="添加快捷方式"><span class="mdi mdi-star"></span></div>
				</li>
				
			</ul>
		</aside>
		<div class="bkg"></div>
	</div>
</script>