<script id="WriteView" type="text/html">
	<div class="WriteView">
		<header>
			<div class="operate-wrap clearfix">
				<div class="handle">
					<div class="operate tip" data-tip="添加快捷方式"><span class="mdi mdi-star"></span></div>
					<div class="operate tip" data-tip="删除笔记"><span class="mdi mdi-delete"></span></div>
				</div>
				<div class="expand">
					<span class="mdi mdi-arrow-bottom-left"></span>
					<span class="mdi mdi-arrow-top-right"></span>
				</div>
			</div>
			<div class="select-wrap clearfix">
				<div class="select-book tip" data-tip="移动笔记">
					<span class="mdi mdi-library-books move-book"></span>
					<span class="book-name">name</span>
					<span class="mdi mdi-chevron-down chevron"></span>
				</div>
			</div>
			
		</header>
		<section class="editor">
			<textarea></textarea>
  			<div class="generate" id="preview"></div>
		</section>
	</div>
</script>