.CreateView {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  z-index: 2;
}
.CreateView.make-opacity {
  opacity: 0.96;
}
.CreateView .wrap {
  width: 650px;
  margin: 0 auto;
  text-align: center;
  margin-top: 8%;
}
.CreateView .wrap .icon {
  color: #ababab;
  font-size: 30px;
}
.CreateView .wrap .text {
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #878787;
  letter-spacing: 1px;
}
.CreateView .wrap .text span {
  display: inline-block;
  width: 20%;
  padding-bottom: 16px;
  border-bottom: 1px solid #d9d9d9;
}
.CreateView .wrap input {
  text-align: center;
  outline: none;
  background: none;
  border: none;
  color: #383838;
  font-size: 32px;
  font-weight: 300;
  margin-top: 46px;
  width: 80%;
}
.CreateView .wrap .btn-wrap {
  margin-top: 56px;
  padding-left: 23%;
}
.CreateView .wrap .btn-wrap .btn {
  width: 35%;
  height: 33px;
}
.CreateView .wrap .btn-wrap .btn-cancel {
  float: left;
  margin-left: 0;
  background-color: #d9d9d9;
  color: #606060;
}
.CreateView .wrap .btn-wrap .btn-confirm {
  float: left;
  margin-left: 16px;
  background-color: #2dbe60;
}
