.NotebookView {
  position: absolute;
  height: 100%;
  left: 73px;
  right: 0;
  overflow: hidden;
  font-family: gotham, helvetica, arial, sans-serif;
}
.NotebookView .slide {
  position: absolute;
  left: -400px;
  height: 100%;
  width: 400px;
  border-right: 3px solid rgba(236, 236, 236, 0.7);
  background-color: #fff;
  transition: left 0.4s ease-in-out;
  z-index: 1;
}
.NotebookView .slide.slide-done {
  left: 0;
}
.NotebookView .slide .header {
  border-bottom: 1px solid #ececec;
}
.NotebookView .slide .header .title {
  padding: 24px;
  color: #878787;
  font-size: 21px;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.NotebookView .slide .header .title .plus {
  float: right;
  cursor: pointer;
  position: relative;
}
.NotebookView .slide .header .title .tip:before {
  top: 18px;
  left: 3px;
  margin-top: -8px;
  border-bottom-color: #606060;
}
.NotebookView .slide .header .title .tip:after {
  top: 29px;
  right: -20px;
  margin-top: -8px;
  background: #606060;
  padding: 6px;
  border-radius: 4px;
  font-size: 12px;
  margin-right: -6px;
}
.NotebookView .slide .header .title .tip:hover:before,
.NotebookView .slide .header .title .tip:hover:after {
  margin-top: 0;
}
.NotebookView .slide .header .form-group {
  position: relative;
  padding: 0 24px;
}
.NotebookView .slide .header .form-group input {
  border: 1px solid #e1e1e1;
}
.NotebookView .slide .header .form-group input:focus {
  border: 1px solid #cacaca;
  outline: none;
}
.NotebookView .slide .header .form-group .search {
  position: absolute;
  left: 50%;
  text-align: center;
  bottom: 6px;
  cursor: text;
  color: #ababab;
  font-size: 13px;
  font-weight: 400;
  transform: translateX(-50%);
}
.NotebookView .slide .header .form-group .search span {
  margin-right: 6px;
  font-size: 16px;
  position: relative;
  top: 1px;
}
.NotebookView .slide .notebook-wrap {
  height: 100%;
}
.NotebookView .slide .notebook-wrap .item {
  position: relative;
  height: 61px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  color: #4a4a4a;
  font-weight: 300;
  cursor: pointer;
}
.NotebookView .slide .notebook-wrap .item .tip:before {
  top: 18px;
  left: 4px;
  margin-top: -8px;
  border-bottom-color: #606060;
}
.NotebookView .slide .notebook-wrap .item .tip:after {
  top: 29px;
  right: -20px;
  margin-top: -8px;
  background: #606060;
  padding: 6px;
  border-radius: 4px;
  font-size: 12px;
}
.NotebookView .slide .notebook-wrap .item .tip:last-child:after {
  margin-right: -12px;
}
.NotebookView .slide .notebook-wrap .item .tip:hover:before,
.NotebookView .slide .notebook-wrap .item .tip:hover:after {
  margin-top: 0;
}
.NotebookView .slide .notebook-wrap .item .book {
  height: 100%;
  width: 50%;
  float: left;
}
.NotebookView .slide .notebook-wrap .item .book .book-name {
  color: #4a4a4a;
  margin-bottom: 4px;
}
.NotebookView .slide .notebook-wrap .item .book .count {
  color: #878787;
  font-size: 11px;
}
.NotebookView .slide .notebook-wrap .item .book .count span {
  font-weight: 800;
  margin-right: 4px;
}
.NotebookView .slide .notebook-wrap .item .book + .tip:after {
  margin-right: -4px;
}
.NotebookView .slide .notebook-wrap .item .icon-wrap {
  float: right;
  display: none;
  position: relative;
  font-size: 22px;
  top: 4px;
}
.NotebookView .slide .notebook-wrap .item .icon-wrap:last-child {
  margin-right: 16px;
}
.NotebookView .slide .notebook-wrap .item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 24px;
  right: 24px;
  border-bottom: 1px solid #ececec;
}
.NotebookView .slide .notebook-wrap .item:hover {
  background-color: #2dbe60;
  opacity: 0.9;
  color: #fff;
}
.NotebookView .slide .notebook-wrap .item:hover .book .book-name {
  color: #fff;
}
.NotebookView .slide .notebook-wrap .item:hover .book .count {
  color: #fff;
}
.NotebookView .slide .notebook-wrap .item:hover .icon-wrap {
  display: block;
}
.NotebookView .slide .notebook-wrap .item:hover:after {
  display: none;
}
.NotebookView .bkg {
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.NotebookView .bkg.set-opacity {
  opacity: .8;
}
