* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:focus {
  color: #34495e;
}
html {
  font-size: 20px;
}
body {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #34495e;
  -webkit-font-smoothing: antialiased;
}
