#preview {
  color: #34495e;
  font-size: 15px;
  line-height: 1.6;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}
#preview a {
  color: #42b983;
}
#preview ul {
  margin: 16px 0;
  list-style-type: disc;
  padding-left: 28px;
}
#preview blockquote {
  margin: 20px 0;
  padding-left: 20px;
  border-left: 4px solid #42b983;
}
#preview h1,
#preview h2,
#preview h3,
#preview h4,
#preview h5,
#preview h6 {
  position: relative;
  font-size: 22px;
}
#preview h1:before,
#preview h2:before,
#preview h3:before,
#preview h4:before,
#preview h5:before,
#preview h6:before {
  content: "#";
  color: #42b983;
  position: absolute;
  left: -18px;
  bottom: -4px;
  font-size: 26px;
  font-weight: bold;
}
#preview code {
  font-family: 'Roboto Mono', Monaco, courier, monospace;
  margin: 0 2px;
  padding: 3px 5px;
  color: #e96900;
  border-radius: 2px;
  font-size: 0.8em;
  background-color: #f8f8f8;
}
#preview pre code {
  display: block;
  padding: 12px 14px;
  line-height: 16px;
  background-color: #f8f8f8;
  overflow-x: auto;
  color: #525252;
  font-size: 10px;
}
#preview pre code .hljs-keyword,
#preview pre code .hljs-attr,
#preview pre code .hljs-attribute {
  color: #e96900;
}
#preview pre code .hljs-built_in,
#preview pre code .hljs-string,
#preview pre code .lang-css {
  color: #42b983;
}
#preview pre code .hljs-comment,
#preview pre code .hljs-meta {
  color: #b3b3b3;
}
#preview pre code .hljs-number,
#preview pre code .hljs-literal {
  color: #ae81ff;
}
#preview pre code .hljs-tag,
#preview pre code .hljs-selector-tag {
  color: #2973b7;
}
#preview pre code .hljs-function .hljs-keyword {
  color: #0092db;
}
#preview pre code .hljs-function .hljs-title {
  color: #83B917;
}
