<script id="IntroduceView" type="text/html">
	<div class="IntroduceView popup">
		<div class="content">
			<h1>笔记·初心<span class="mdi mdi-close-circle close"></span></h1>
			<ul class="concept clearfix">
				<li class="part">
					<h3>笔记的意义</h3>
					<p>除了记录生活，写笔记让作者变得平静、幸福、以及更优秀，结交到性情相近的朋友，见证着自己的成长，甚至让薪资涨幅超过不写笔记的一些人。</p>
				</li>
				<li class="part">
					<h3>难在『坚持』</h3>
					<p>也许折腾着搭建、模板，忘记了最重要的是“写点什么”；也许是心血来潮，最后提笔忘词；也许工作太忙碌，忘了让自己停下来。</p>
				</li>
				<li class="part">
					<h3>『简单』才持久</h3>
					<p>wenote让一切简单，打开editor，就可以写了；让你轻松自在的使用markdown来记录学习和生活的点滴。无需繁杂的操作，更专注文字本身。</p>
				</li>
			</ul>
		</div>
	</div>
</script>