<script id="NoteList" type="text/html">
	<div class="NoteList">
		<header>
			<div class="search-ctx hidden">
				<input type="text" placeholder="搜索笔记"></input>
				<span class="mdi mdi-close-circle delete hidden"></span>
			</div>
			<h2 class="title">笔记</h2>
			<div class="count"><span></span>条笔记</div>
		</header>
		<section>
			<ul class="list-wrap">
			</ul>
		</section>
	</div>
</script>
<script id="NoteList-item" type="text/html">
	{{#each note}}
	<li class="item" data-id="{{_id}}">
		<div class="title clearfix">
			<h3 class="textfix">{{name}}</h3>
			<div class="setting">
				<div class="tip" data-tip="删除笔记"><span class="mdi mdi-delete"></span></div>
				<div class="tip" data-tip="添加快捷方式"><span class="mdi mdi-star"></span></div>
			</div>
		</div>
		<div class="time">{{time}}</div>
		<p class="overview multiline">{{overview}}</p>
	</li>
	{{/each}}
</script>
<script id="NodeList-empty" type="text/html">
	<div class="note-empty">
		^_^开启写作之旅吧~
	</div>
</script>