<script id="ShortcutView" type="text/html">
	<div class="ShortcutView">
		<aside class="slide">
			<h1 class="title">快捷方式</h1>
			<ul class="shortcut-wrap">
				<li class="item">
					<span class="mdi mdi-file-document"></span>javascript基本概念
					<div class="delete tip" data-tip="删除快捷方式"><span class="mdi mdi-minus-outline"></span></div>
				</li>
				<li class="item">
					<span class="mdi mdi-library-books"></span>android
					<div class="delete tip" data-tip="删除快捷方式"><span class="mdi mdi-minus-outline"></span></div>
				</li>
				
			</ul>
		</aside>
		<div class="bkg"></div>
	</div>
</script>

<script id="ShortcutView-item" type="text/html">
	{{#each items}}
		<li class="item">
			<span class="mdi {{#if book}}mdi-library-books{{else}}mdi-file-document{{/if}}"></span>
			{{name}}
			<div class="delete tip" data-tip="删除快捷方式"><span class="mdi mdi-minus-outline"></span></div>
		</li>
	{{/each}}
</script>